.container {
    width: 100%;
    position: relative;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    line-height: 100px;
    background: var(--nav-color);
    padding-inline: 10vw;
    transition: 0.3s;
    z-index: 100;

}

.nav-logo {
    position: relative;
}

.nav-name {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
    cursor: pointer;
}

.nav-menu,
.nav_menu_list {
    display: flex;
    column-gap: -30px;
}

.nav-menu,
.nav_list {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    padding-inline: 15px;
    margin-inline: 20px;
    position: relative;
}

nav ul li {
    list-style: none;

}

.active-link {
    position: relative;
    color: var(--first-color);
    transition: 0.3s;


}

.active-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 2px;
    background: var(--first-color);
}

.nav-menu-btn {
    display: none;
}
/*
.nav-menu-btn i {
  font-size: 24px;
  color: var(--color-white);
} */

button {
    border: none;
    background: none;
}

button:focus {
    outline: none;
}



.mode {
    display: flex;
    align-items: center;
    margin-right: -2%;

}

.moon-sun {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    cursor: pointer;
    background: var(--mode-color);
}

.moon-sun i {
    position: absolute;
    transition: opacity 0.2s ease-in-out;
    font-size: 24px;
}

#sun {
    opacity: 0;
}

#moon {
    opacity: 1;
}

body.dark-mode #sun {
    opacity: 1;
}

body.dark-mode #moon {
    opacity: 0;
}
