/* .about-container {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.1);
    background-color: var(--box-color);
    margin: 20px;
} */

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 80px;
    /* display: block;
    margin: 0 auto; */

}

.col {
    display: flex;
    width: 50%;

    /* display: inline-block;
    margin: 20px; */
}

.about-info {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 35px;
    padding-block: 45px 45px;
    border: 2px solid #fff;
    background: transparent;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    border-radius: 20px;


}

.about-me * {
    -webktit-box-size: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.about-info figcaption {
    position: relative;
    width: 100%;
    padding: 25px;
    /* margin-bottom: 60px; */
}

.about-me .profile {
    border-radius: 60%;
    position: absolute;
    bottom: 100%;

    left: 20px;
    z-index: 1;
    background-color: #fff;
    max-width: 80px;
    max-height: 70px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}

.about-me p {
    color: var(--text-color);
    margin-top: 10px;

}

.about-info .about-me-btn {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #8749f2;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}
