.contact-info:hover.contact-info::after {
    bottom: 0;

}

.top-header span {
    color: var(--text-color);
}

.contact-info::after {
    content: "";
    position: absolute;
    bottom: -100%;
    background: #8749f2;
    width: 100%;
    height: 100%;
    transition: 0.4s;
    z-index: 0.1;
    color: #8749f2;

}

.contact-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding: 20px 40px;
    width: 100%;
    height: 340px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow);
    overflow: hidden;
    cursor: pointer;
}

.contact-info > h2 {
    color: var(--text-color);
    margin-bottom: 20px;


}

.contact-info > p {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin-block: 5px;
    gap: 10px;


}

.contact-info:hover.contact-info i,
.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p {
    color: #fff;
    z-index: 2;
}


.form-control {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.form-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
}

#input-field {
    width: 50%;
    height: 55px;
    border: 2px solid #aaa;
    background: transparent;
    padding-inline: 20px;
    border-radius: 10px;
    outline: none;
}

.input-subject {
    width: 100%;
    height: 55px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding-inline: 20px;
    margin-bottom: 10px;
    outline: none;


}


textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: 2px solid #aaa;
    border-radius: 10px;
    padding: 15px 20px;
    color: var(--text-color);
    outline: none;
    resize: none;

}

.form-btn > .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    border: none;
    background: #8749f2;
    padding: 10px 20px;
    border-radius: 20px;
    color: #fff;
}

.form-btn i {
    font-size: 18px;
    /* rotate: -45deg; */
    margin-left: 10px;

}
